In [108]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

In [19]:
html_doc = urllib.request.urlopen("http://www.slocountyhomes.com/newlistex.php").read()

In [20]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [69]:
len(rows[2].find_all("td"))

8

In [76]:
names = [
    "MLS#",
    "Street",
    "City",
    "List Price",
    "# of Bedrooms",
    "# of Bathrooms",
    "Sq Footage"
]

In [113]:
def extract_listings(soup):
    rows = soup.find_all("tr")
    
    new_listings = []

    for row in rows[1:]:
        items = row.find_all("td")
        if len(items) != 8:
            continue

        row_data = []

        for idx, item in enumerate(items):
            if idx == 7:
                continue

            if idx == 0:
                row_data.append(item.contents[0].contents[0].strip())
            else:
                row_data.append(item.contents[0].strip().strip("$"))

        new_listings.append(row_data)
    
    return pd.DataFrame(columns=names, data=new_listings)

In [114]:
new_listings = extract_listings(soup)

In [116]:
new_listings.head(10)

,MLS#,Street,City,List Price,# of Bedrooms,# of Bathrooms,Sq Footage
0,1072933,306 Hondonada,Arroyo Grande,"519,000",2,2,1746
1,1072919,327 Corona Del Terra,Arroyo Grande,"560,000",3,2,1608
2,1072958,7777 Del Rio,Atascadero,"555,000",3,3,1902
3,1072528,6050 Brighton,Cambria,"1,390,000",6,6,3120
4,1072953,613 Maple,,"215,000",3,2,1282
5,1072944,1213 Cypress,Lompoc,"165,000",2,2,972
6,1072932,1854 7th,Los Osos,"499,000",3,2,1080
7,1072938,715 Crystal,Nipomo,"549,900",4,2,1700
8,1072934,240 Cheyenne,Paso Robles,"489,900",3,2,2263
9,1072905,1565 Kiler Canyon,Paso Robles,"3,500,000",9,7,5555