In [108]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

In [19]:
html_doc = urllib.request.urlopen("http://www.slocountyhomes.com/newlistex.php").read()

In [20]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [69]:
len(rows[2].find_all("td"))

8

In [76]:
names = [
    "MLS#",
    "Street",
    "City",
    "List Price",
    "# of Bedrooms",
    "# of Bathrooms",
    "Sq Footage"
]

In [165]:
def extract_listings(soup):
    rows = soup.find_all("tr")
    
    new_listings = []
    
    for row in rows[1:]:
        items = row.find_all("td")
        if len(items) != 8:
            continue

        row_data = []

        for idx, item in enumerate(items):
            if idx == 7:
                continue
            
            if idx == 0:
                row_data.append(int(item.contents[0].contents[0].strip()))    
            elif idx == 3:
                row_data.append(int(item.contents[0].strip().strip("$").replace(",","")))
            elif idx == 4 or idx == 5:
                row_data.append(int(item.contents[0].strip()))
            elif idx == 6:
                row_data.append(float(item.contents[0].strip()))
            else:
                if len(item.contents) == 2:
                    row_data.append(item.contents[1].contents[0].strip())
                else:
                    row_data.append(item.contents[0].strip().strip("$"))

        new_listings.append(row_data)
        
    return pd.DataFrame(columns=names, data=new_listings)

In [166]:
new_listings = extract_listings(soup)

In [156]:
new_listings

,MLS#,Street,City,List Price,# of Bedrooms,# of Bathrooms,Sq Footage
0,1072933,306 Hondonada,Arroyo Grande,"519,000",2,2,1746
1,1072919,327 Corona Del Terra,Arroyo Grande,"560,000",3,2,1608
2,1072958,7777 Del Rio,Atascadero,"555,000",3,3,1902
3,1072528,6050 Brighton,Cambria,"1,390,000",6,6,3120
4,1072953,613 Maple,King City,"215,000",3,2,1282
5,1072944,1213 Cypress,Lompoc,"165,000",2,2,972
6,1072932,1854 7th,Los Osos,"499,000",3,2,1080
7,1072938,715 Crystal,Nipomo,"549,900",4,2,1700
8,1072934,240 Cheyenne,Paso Robles,"489,900",3,2,2263
9,1072905,1565 Kiler Canyon,Paso Robles,"3,500,000",9,7,5555
10,1072946,3072 Rockview,San Luis Obispo,"570,000",2,3,1305
11,1072945,3098 Rockview,San Luis Obispo,"575,000",2,3,1305
12,1072948,3070 Rockview,San Luis Obispo,"577,500",2,3,1385
13,1072956,1466 Durham,Santa Maria,"377,017",3,3,1685
14,1072901,Address Not Available,Solvang,"415,000",2,1,1344
15,1072937,1010 Fava,Templeton,"875,000",4,4,2969
16,1072912,6553 Atascadero,Atascadero,"379,000",2,1,996
17,1072922,3225 San Fernando,Atascadero,"785,000",3,3,2547
18,1072867,1226 Main,Cambria,"239,000",2,2,1440
19,1072916,426 Cambridge,Cambria,"949,000",3,3,2537
20,1072909,180 Ash,Coalinga,"152,900",2,2,1370
21,1072915,1332 Locust,Lompoc,"319,900",3,2,1052
22,1072904,2212 Gaviota,Lompoc,"379,900",3,2,1840
23,1072687,609 Palomar,Lompoc,"541,000",4,3,2631
24,1072834,339 Centennial,Los Alamos,"359,000",2,1,759
25,1072920,650 Princeton,Out Of Area,"189,900",3,2,1610
26,1072928,141 Flag,Paso Robles,"255,000",2,2,1120
27,1072927,2560 Traditions Loop,Paso Robles,"579,000",3,2,2112
28,1072923,71 Valley View,Pismo Beach,"840,000",3,3,1997
29,1072917,464 Corrida,San Luis Obispo,"649,000",3,3,1665
...,...,...,...,...,...,...,...
84,1072827,176 Valley View,Avila Beach,"899,000",3,3,1878
85,1072845,330 Highway 246,Buellton,"67,373",2,2,1440
86,1072832,123 M,Lompoc,"315,000",3,2,1286
87,1072836,1257 Stonebrook,Lompoc,"365,000",3,3,1662
88,1072794,1275 Del Mar,Los Osos,"575,000",2,2,1370
89,1072815,2885 Rodman,Los Osos,"879,900",3,2,2914
90,1072846,999 Vista Verde,Nipomo,"630,000",5,3,2438
91,1072823,933 Saint Ann,Paso Robles,"469,900",3,2,1754
92,1072835,Address Not Available,Paso Robles,"1,467,000",4,4,4068
93,1072841,2699 Meadow,San Luis Obispo,"1,099,000",3,3,2736
94,1072790,1031 De Gamma,Santa Maria,"349,000",3,2,1263
95,1072710,376 Alder,Arroyo Grande,"499,000",3,2,1447
96,1072788,1613 Ramona,Grover Beach,"299,000",2,2,1060
97,1072804,136 G,Lompoc,"275,000",2,2,728
98,1072803,381 Nevis,Morro Bay,"350,000",2,1,624
99,1072797,461 Jamaica,Morro Bay,"669,000",3,3,1762
100,1072635,1205 Suttermill,Nipomo,"974,900",4,4,3178
101,1072798,7469 Union,Paso Robles,"175,000",3,2,1332
102,1072785,1203 Frances,Paso Robles,"349,000",3,2,1026
103,1072796,602 Laura,Paso Robles,"369,000",3,2,1462
104,1072789,1532 Allegro,Paso Robles,"569,000",3,2,2204
105,1072733,90 Nutwood,Paso Robles,"949,000",3,3,2511
106,1072777,68 Valley View,Pismo Beach,"879,900",3,3,2028
107,1072715,2250 King,San Luis Obispo,"443,000",2,2,1256
108,1072812,597 Fair Oaks,Santa Maria,"379,000",4,2,1499
109,1072702,320 Valley View,Santa Maria,"385,500",3,2,1604
110,1072793,1218 Village,Santa Maria,"425,000",3,2,1530
111,1072689,1045 David,Santa Maria,"425,000",3,4,3392
112,1072817,4872 Coughlin,Santa Maria,"490,000",3,2,1581
113,1072799,55 8th,Templeton,"390,000",3,3,1470

In [150]:
new_listings.isnull().sum()

MLS#              0
Street            0
City              0
List Price        0
# of Bedrooms     0
# of Bathrooms    0
Sq Footage        0
dtype: int64