In [2]:
from pandas.io import sql
from sqlalchemy import create_engine, inspect

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
db = create_engine('sqlite:////share/morePicturesOfCats.db')

In [5]:
df = pd.read_csv("HousingSLO-Master.csv")

OSError: File b'HousingSLO-Master.csv' does not exist

In [9]:
df.head()

,MLSNumber,Street,City,BR,Bath,Footage,Price,PriceSqFt,County,Zone,Source,Date,URL
0,1072327,629 Northbrook,Lompoc,3,3,1652,370000,223.970944,SB,0,0,October 23,http://www.slocountyhomes.idxbroker.com/idx/d...
1,1072320,1249 Westbrook,Lompoc,3,2,1791,389000,217.197097,SB,0,0,October 23,http://www.slocountyhomes.idxbroker.com/idx/d...
2,1072319,247 Brisa Del Mar,Lompoc,3,2,2360,518000,219.491525,SB,0,0,October 23,http://www.slocountyhomes.idxbroker.com/idx/d...
3,1072317,2760 Cedar,Morro Bay,2,2,976,550000,563.524590,SLO,1,0,October 23,http://www.slocountyhomes.idxbroker.com/idx/d...
4,1072288,1007 Jacqueline,Nipomo,3,3,2325,699900,301.032258,SLO,0,0,October 23,http://www.slocountyhomes.idxbroker.com/idx/d...

In [20]:
df.to_sql('housing', db)

ValueError: Table 'housing' already exists.

In [13]:
df = pd.read_sql_query("select * from housing", db)

In [14]:
del df['index']
del df[' URL']

In [25]:
cols = []
for col in df.columns:
    cols.append(col.strip())
    
for new_name, old_name in zip(cols, df.columns):
    df[new_name] = df[old_name]
    del df[old_name]

['MLSNumber', 'Street', 'City', 'BR', 'Bath', 'Footage', 'Price', 'PriceSqFt', 'County', 'Zone', 'Source', 'Date']

In [33]:
df

,Street,City,BR,Bath,Footage,Price,PriceSqFt,County,Zone,Source,Date
0,629 Northbrook,Lompoc,3,3,1652,370000,223.970944,SB,0,0,October 23
1,1249 Westbrook,Lompoc,3,2,1791,389000,217.197097,SB,0,0,October 23
2,247 Brisa Del Mar,Lompoc,3,2,2360,518000,219.491525,SB,0,0,October 23
3,2760 Cedar,Morro Bay,2,2,976,550000,563.524590,SLO,1,0,October 23
4,1007 Jacqueline,Nipomo,3,3,2325,699900,301.032258,SLO,0,0,October 23
5,2531 Cienaga,Oceano,2,1,720,159000,220.833333,SLO,2,0,October 23
6,610 Sunrise,Santa Maria,2,2,1129,250000,221.434898,SB,0,0,October 23
7,765 Mesa View,Arroyo Grande,4,2,1560,197500,126.602564,SLO,2,0,October 22
8,9900 Carmelita,Atascadero,3,3,2253,874900,388.326676,SLO,3,0,October 22
9,1009 Walnut,Lompoc,2,2,935,165000,176.470588,SB,0,0,October 22
10,1057 Armstrong,Lompoc,3,2,1247,379900,304.651163,SB,0,0,October 22
11,932 Jacqueline,Nipomo,3,3,2703,794900,294.080651,SLO,0,0,October 22
12,849 Vista Del Sol,Santa Maria,2,2,1248,65000,52.083333,SB,0,0,October 22
13,265 Moon Dance,Santa Maria,3,3,1347,359000,266.518189,SB,0,0,October 22
14,4428 Village Knoll,Santa Maria,3,2,1421,419500,295.214638,SB,0,0,October 22
15,292 Sunrise Terrace,Arroyo Grande,2,2,1484,285000,192.048518,SLO,2,0,October 21
16,1160 Royal Oak,Arroyo Grande,3,3,2480,899000,362.500000,SLO,2,0,October 21
17,9167 Casero,Atascadero,4,3,2251,469900,208.751666,SLO,3,0,October 21
18,14595 Morro,Atascadero,3,3,2064,589000,285.368217,SLO,3,0,October 21
19,8445 Los Osos,Atascadero,4,3,2574,725000,281.662782,SLO,3,0,October 21
20,230 Menlo,Buellton,3,2,1668,498000,298.561151,Other,0,0,October 21
21,1617 Ramona,Grover Beach,2,2,1060,299900,282.924528,SLO,2,0,October 21
22,501 Heritage,Los Alamos,4,2,2112,589000,278.882576,SB,0,0,October 21
23,586 Binscarth,Los Osos,2,2,1181,429000,363.251482,SLO,1,0,October 21
24,1462 13th,Los Osos,3,2,1225,485000,395.918367,SLO,1,0,October 21
25,731 Piney,Morro Bay,2,3,1475,579000,392.542373,SLO,1,0,October 21
26,1280 Saint Andrews,Nipomo,3,3,2121,639000,301.272984,SLO,0,0,October 21
27,1012 Upper Los Berros,Nipomo,2,2,3000,950000,316.666667,SLO,0,0,October 21
28,374 Pier,Oceano,4,2,1230,449000,365.040650,SLO,2,0,October 21
29,2804 Cottage,Paso Robles,3,3,1197,355000,296.574770,SLO,4,0,October 21
...,...,...,...,...,...,...,...,...,...,...,...
1047,1220 Baden,Grover Beach,2,2,1051,299000,284.490961,SLO,2,1,10/5/16
1048,2101 Tularosa,Lompoc,3,2,1440,515000,357.638889,SB,0,1,10/5/16
1049,781 Juniper,Nipomo,4,4,2186,589000,269.441903,SLO,0,1,10/5/16
1050,1974 Northwood,Nipomo,3,4,3241,999900,308.515890,SLO,0,1,10/5/16
1051,908 Moody,Paso Robles,3,2,1411,425000,301.204819,SLO,4,1,10/5/16
1052,121 Narlene,Pismo Beach,3,3,2112,799000,378.314394,SLO,2,1,10/5/16
1053,1320 Oceanaire,San Luis Obispo,2,2,1781,799000,448.624368,SLO,1,1,10/5/16
1054,2437 Cumbre,San Luis Obispo,4,3,2922,949000,324.777550,SLO,1,1,10/5/16
1055,22335 J,Santa Margarita,2,1,1000,305000,305.000000,SLO,3,1,10/5/16
1056,349 Downing,Santa Maria,3,2,1290,330000,255.813953,SB,0,1,10/5/16
1057,175 Foxenwood,Santa Maria,2,3,2073,348000,167.872648,SB,0,1,10/5/16
1058,429 Santa Anita,Santa Maria,3,2,1511,439999,291.197220,SB,0,1,10/5/16
1059,5350 Olive Hill,Santa Maria,4,3,3344,729000,218.002392,SB,0,1,10/5/16
1060,579 Camino Mercado,Arroyo Grande,2,2,960,290000,302.083333,SLO,2,1,10/5/16
1061,2420 Mesa Ranch,Arroyo Grande,4,3,3223,1049000,325.473162,SLO,2,1,10/5/16
1062,7935 Portola,Atascadero,2,2,1004,377900,376.394422,SLO,3,1,10/5/16
1063,12005 San Antonio,Atascadero,5,4,3449,949000,275.152218,SLO,3,1,10/5/16
1064,5660 Moonstone Beach,Cambria,2,3,1418,995000,701.692525,SLO,0,1,10/5/16
1065,1130 San Sebastian,Grover Beach,3,2,1400,499000,356.428571,SLO,2,1,10/5/16
1066,2233 Meridian,Lompoc,3,3,1460,327900,224.589041,SB,0,1,10/5/16
1067,1541 Mesa,Nipomo,3,4,2827,1027521,363.466926,SLO,0,1,10/5/16
1068,1761 Shepherd,Paso Robles,2,1,826,229000,277.239709,SLO,4,1,10/5/16
1069,952 Queenanne,Paso Robles,2,2,1088,273000,250.919118,SLO,4,1,10/5/16
1070,4670 Rolling Hills,Paso Robles,3,2,1898,429000,226.027397,SLO,4,1,10/5/16
1071,124 16th.,Paso Robles,4,2,1682,479900,285.315101,SLO,4,1,10/5/16
1072,6335 Wild Horse,Paso Robles,4,3,2760,675000,244.565217,SLO,4,1,10/5/16
1073,Address Not Available,Santa Margarita,3,2,2200,2875000,1306.818182,SLO,3,1,10/5/16
1074,2139 Avenida Riviera,Santa Maria,2,2,1704,149000,87.441315,SB,0,1,10/5/16
1075,1215 Golden,Santa Maria,3,2,1040,245000,235.576923,SB,0,1,10/5/16
1076,1746 Bilbao,Santa Maria,3,2,1674,339900,203.046595,SB,0,1,10/5/16

In [ ]:
# generate more features, like zip code

In [ ]:
# have a list of classifiers we will use
# write model functions that will return score of model and the error, and computation time
# Logistic Regression - multiclass
# kNN
# AdaBoostClassifier
# Random Forest
# DecisionTreeClassifier
# SVM
# ensemble
    # Voting
    # Bagging
    # Boosting

In [ ]:
def compareModels(X, Y):
    """
    Y is the response variable
    X is vector of all the features
    Returns list(Model Name, score, error, computation time)
    """
    # calls predefined set of classifiers
    pass

In [ ]:
def expandColumns(dataFrame, colNames):
    """
    dataFrame: the data resides
    colName: list of columns to expand
    """
    pass

In [ ]:
def plotResult(results):
    """
    Take in a list of results 
    list(Model Name, score, error, computation time)
    display a visual representation of the result
    """
    pass